{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes Registrados</title>
    <link rel="icon" href="{% static 'images/bolsa.ico' %}" type="image/x-icon">
	<link href="{% static 'css/interno.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom4.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="profile">
                <div class="profile-image">
                    <img src="{% static 'images/Admin.png' %}" alt="Perfil Admin">
                </div>
                <h3>{{ request.user.nombre }}</h3>
                <p>Administrador</p>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'dashboard' %}"  data-page="dashboard">
                        <i class="material-icons">groups</i> 
                        <span>PRINCIPAL</span>
                    </a></li>
                    <li><a href="{% url 'productos2' %}" data-page="productos">
                        <i class="material-icons">inventory_2</i> 
                        <span>PRODUCTOS</span>
                    </a></li>
                    <li><a href="{% url 'inventario' %}" data-page="inventario">
                        <i class="material-icons">inventory</i> 
                        <span>INVENTARIO</span>
                    </a></li>
                    <li><a href="{% url 'listar_clientes' %}"  data-page="dashboard">
                        <i class="material-icons">groups</i> 
                        <span>CLIENTES</span>
                    </a></li>
                    <li><a href="{% url 'listar_proveedor' %}" data-page="dashboard">
                        <i class="material-icons">groups</i> 
                        <span>PROVEEDORES</span>
                    </a></li>
                    <li><a href="{% url 'trabajadores' %}"  data-page="dashboard">
                        <i class="material-icons">groups</i> 
                        <span>TRABAJADORES</span>
                    </a></li>
                    <li><a href="{% url 'factura' %}" data-page="recibos">
                        <i class="material-icons">receipt</i> 
                        <span>SOPORTE DE PAGOS</span>
                    </a></li>
                    <li><a href="{% url 'validacion_compras' %}" data-page="estado-compra">
                        <i class="material-icons">payment</i> 
                        <span>ESTADO DE COMPRA</span>
                    </a></li>
                    <li><a href="{% url 'copias_seguridad' %}" data-page="estado-compra">
                        <i class="material-icons">payment</i> 
                        <span>COPIAS SEGURIDAD</span>
                    </a></li>
                </ul>
            </nav>
        </aside>
        <!-- Main Content -->
        <main class="main-content">
            <header class="top-bar">
                <h1>Gestión de Clientes</h1>
                <div class="user-menu">
                     <div id="accesibilidad-container">

                    <button title="Accesibilidad" class="Accesibilidad">
                        <img src="{% static 'images/accesibilidad.png' %}" class="icono-accesibilidad">
                    </button>
                    </div>

                     <button title="Manual Administrador" class="boton-manual-administrador" onclick="descargarManual()">
                        <img src="{% static 'images/signo.png' %}" alt="Icono Manual" class="icono-manual">
                    </button>
                    <i title="Cerrar Sesión" class="material-icons logout-icon">power_settings_new</i>
                </div>
            </header>
            <section class="users-dashboard">
                <div class="section-header d-flex justify-content-between align-items-center">
                    <h2>CLIENTES REGISTRADOS</h2>
            
                    <button class="download-btn pixel-corners" onclick="window.open('{% url 'exportar_clientes_pdf' %}', '_blank');">
                    <div class="button-content">
                        <div class="svg-container">
                            <svg
                                class="download-icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                            >
                                <path
                                d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479 6.908l-4-4h3v-4h2v4h3l-4 4z"
                                ></path>
                            </svg>
                        </div>
                        
                        <div class="text-container">
                            <div class="text">Exportar Clientes a PDF</div>
                        </div>
                    </div>
                </button>
                    <a href="{% url 'register_cliente' %}" class="nuevo-cliente">Nuevo Cliente</a>
                </div>
            
                <div class="search-bar mt-3">
                    <input type="text" id="search-input" class="form-control" placeholder="Buscar proveedor por nombre...">
                </div>
                <div class="users-table-container mt-4">
                    <table class="table table-striped table-bordered" id="providers-table">
                        <thead class="table-header">
                            <tr>
                            <th>Nombre completo</th>
                            <th>CC</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Correo de Recuperación</th>
                            <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                                <tr>
                                    <td class="provider-name">{{ cliente.nombre }} {{ cliente.apellido }}</td>
                                    <td>{{ cliente.CC }}</td>
                                    <td>{{ cliente.email }}</td>
                                    <td>{{ cliente.telefono }}</td>
                                    <td>{{ cliente.email }}</td>
                                    <td>
                                        <a href="{% url 'editar_cliente' cliente.id %}" class="Editar">
                                        <span class="texto">Editar</span>
                                        <div class="pencil-container">
                                        <svg class="pencil-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                        </svg>
                                        </div>
                                        </a>

                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">No hay clientes registrados.</td>
                                </tr>
                                {% endfor %}
                        </tbody>>
                    </table>
                    
                </div>
            </section>

            <style>
            
            /* Estilo para los badges de estado */
            .badge {
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 12px;
                color: white;
            }
            
            .badge.bg-success {
                background-color: #28a745; /* Verde */
            }
            
            .badge.bg-danger {
                background-color: #dc3545; /* Rojo */
            }
            
            /* Centrar texto en la fila vacía */
            .text-center {
                text-align: center;
                font-style: italic;
                color: #6c757d; /* Gris */
            }
            </style>
</div>
</main>
</div>
 <script src="{% static 'js/dashboard.js' %}"></script>
 <script src="{% static 'js/filtros.js' %}"></script>
 <script src="{% static 'js/siennadmin.js' %}"></script>
 <script src="{% static 'js/manualadministrador.js' %}"></script>
</body>
</html>